@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #919191;
}

h3 {
  color: black;
  font-size: 20px;
}

#ai_agents {
  background-image: linear-gradient(60deg, #f8b500, #f54748, #c02425, #00a8b5, #4a4e69, #9a031e, #03506f, #b9375e);
  color: transparent;
  -webkit-background-clip: text; /* For Chrome and Edge */
  background-clip: text; /* For Safari and Firefox */
  animation: colorShift 10s ease-in-out infinite, dropDown 1s ease-in-out forwards;
  animation-direction: alternate;
  background-size: 700% 100%;
  animation-delay: 2s;
  opacity: 0;
}

@keyframes colorShift {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 0;
  }
}

.drop-down-text {
  animation: dropDown 1s ease-in-out forwards;
  display: block;
}

@keyframes dropDown {
  0% {
    transform: translateY(-100%);
    opacity: 1;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

#search_hero {
  animation: searchHero 3s ease-in-out forwards;
  display: block;
}

@keyframes searchHero {
  0% {
    transform: translate(-100px, 130px);
    scale: 0.8;
    opacity: 1;
  }

  50% {
    transform: translate(-200px, 100px) rotate(45deg);
    scale: 1.1;
    opacity: 1;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
    scale: 1;
  }
}

#powered_by {
  transform: translateX(-370px);
  display: inline-block;
  animation: poweredBy 2s ease-in-out forwards;
  animation-delay: 500ms;
}

@keyframes poweredBy {
  0% {
    transform: translate(-370px);
  }

  100% {
    transform: translate(0px);
  }
}